#general {
	width: 590px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #E4E4E4;
	margin: auto;
}

h1 {
	color: #FFF;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
}

h2 {
	color: #777;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

h3 {
	color: black;
	font-size: 12px;
	font-family: impact, sans-serif;
	text-align: center;
}

#entete {
	background-image: url(../img_formu/haut_01.jpg);
	width: 590px;
	height: 106px;
	background-repeat: no-repeat;
}

#corps {
	background-image: url(../img_formu/haut_02.jpg);
	background-repeat: repeat-y;
}

#pied {
	background-image: url(../img_formu/bas.jpg);
	height: 78px;
	background-repeat: no-repeat;
}

body {
	background-color: #f5e9d9;
}